# Application configuration
API_DOMAIN=
DASHBOARD_DOMAIN=
EVENTSTORE_URI=
PROJECTION_DB_URI=
QUEUE_URI=

# Database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SEPA_SETTLEMENT_ACCOUNT_ID=

# Dummy secrets
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

