---
openapi: 3.0.3
info:
  description: App description for OpenAPI docs
  title: CrystalBank
  version: 0.2.0
paths:
  /accounts/open:
    post:
      summary: Request opening
      description: 'Request opening

        Request the opening of a new account


        Required permission:

        - **write:accounts.opening**'
      tags:
      - Accounts
      operationId: CrystalBank::Domains::Accounts::Api::Accounts_open
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrystalBank__Domains__Accounts__Api__Requests__OpeningRequest'
        required: true
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrystalBank__Domains__Accounts__Api__Responses__OpeningResponse'
        400:
          description: Bad Request
        500:
          description: Internal Server Error
  /accounts:
    get:
      summary: List
      description: 'List

        List all accounts


        Required permission:

        - **read:accounts.list**'
      tags:
      - Accounts
      operationId: CrystalBank::Domains::Accounts::Api::Accounts_list_accounts
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrystalBank__Api__Responses__ListResponse_CrystalBank__Domains__Accounts__Api__Responses__Account_'
        400:
          description: Bad Request
        500:
          description: Internal Server Error
components:
  schemas:
    CrystalBank__Domains__Accounts__Api__Requests__OpeningRequest:
      type: object
      properties:
        currencies:
          type: array
          description: List of supported currencies
          items:
            type: string
        type:
          type: string
          description: Type of the account
      required:
      - currencies
      - type
    CrystalBank__Domains__Accounts__Api__Responses__OpeningResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the requested account
      required:
      - id
      description: Response to an account opening request
    CrystalBank__Api__Responses__ListResponse_CrystalBank__Domains__Accounts__Api__Responses__Account_:
      type: object
      properties:
        object:
          type: string
          description: Object type of the response
        url:
          type: string
          format: uuid
          description: Url of the entity
        data:
          type: array
          description: Array of entities
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: ID of the requested account
              currencies:
                type: array
                description: Supported currencies of the account
                items:
                  type: object
              type:
                type: string
                description: Type of the account
            required:
            - id
            - currencies
            - type
      required:
      - object
      - url
      - data
    CrystalBank__Api__Responses__ErrorResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the error
        message:
          type: string
          description: Error message
        timestamp:
          type: string
          format: iso8601
          description: Timestamp of the error
        type:
          type: string
          description: Type of the error
      required:
      - id
      - message
      - timestamp
      - type
      description: Default Error Response
servers:
- url: https://api.crystalbank.xyz
